.all {
    border: 0px solid #00c3ff;
    border-radius: 5%;
}

.square-image {
    max-width: 5rem;
    height:5rem;
    /* border-radius: 5%; */
}

.square-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}